<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <view
            class="br.edu.utfpr.butterfly.plugin.ButterflyView"
            icon="icons/episode.png"
            id="butterfly"
            name="Butterfly"
            restorable="true">
      </view>
   </extension>
</plugin>
